@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit&family=Trade+Winds&display=swap');

.kanit{
    font-family:"kanit",sans-serif;
}
/* for headding all page */
.TradeWinds{
    font-family: "Trade Winds";
}
.sign{
    border-radius: 10px;
    width: 100px;    padding: 10px;
    font-weight: 600;
    margin-top: 10px;
    background-color: rgb(212, 16, 16);
}
.nav{
    width: 100%;
    background-color: white;
    height: 70px;
    
    box-shadow:2px 1px 21px -6px black;
}
.hero-con{
    background-image: url(./image/herocen.png);
    background-repeat: no-repeat;background-position: center;
    
}